*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 18px;
    --black: #000;
    --white: #fff;
}
body{
    background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);

}
.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner__elems{
    height: 100vh;
    flex-direction: row;
    gap: 2rem;
}
.info__placement{
    flex-direction: column;
    gap: 2rem;
}
.inner__elems h1{
    padding-right: 8rem;
    color: #fff;
}.inner__elems p{
    color: rgba(132, 118, 170, 1);
}.info__buttons{
    margin-right: 12rem;
}
.frame_{
    min-width: 300px;
    max-height: 900px;
    background-color: #fff;
    border-radius: 10px;
    z-index: 1;
}
.green__squarre{
    width: 60px;
    height: 60px;
    background: rgba(19, 194, 150, 1);
    box-shadow: -3px 1px 5px 5px rgba(19, 194, 150, 0.24);
    position: relative;
    border-radius: 10px;
    z-index: 3;
    bottom: 5.5rem;
    left: 4rem;
}
.green__squarre span{
    font-size: 35px;
    color: #fff;
}
.info__placementt{
    padding: 30px 15px;
}
.info__placementt h4{
    color: rgba(99, 115, 129, 1);
}
.img__placement img{
    width: 300px;
    max-height: 700px;
    border-radius: 10px 10px 0px 0px;

}
.connected{
    width: 260px;
    height: 70px;
    border-bottom: 1px solid rgb(175, 171, 171);
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.connected h2{
    color: rgba(19, 194, 150, 1);
}
.seperated__parts{
    flex-direction: row;
    gap: 3rem;
}
.blue__squarre{
    min-width: 200px;
    max-height: 100px;
    padding: 20px;
    border-radius: 20px;
    text-align: right;
    color: #fff;
    background: rgba(81, 110, 169, 1);
    position: relative;
    top: 3rem;
    right: 6rem;
}
.blue__squarre p{
    color: #fff;
}